{{> private-navbar}} 

<div class="position-absolute top-50 start-50 translate-middle text-center w-50">
<form id="create-quiz-form">
  <div class="form-group mb-3">
    <label for="quiz-title">Enter Quiz Title</label>
    <input type="text" class="form-control" id="quiz-title" placeholder="Quiz Title">
  </div>
  <div class="form-group mb-3">
    <label for="category-select">Select a Category</label>
    <select class="form-control" id="category-select">
      <option id="general-knowledge" value="9">General Knowledge</option>
      <option id="entertainment-books" value="10">Entertainment: Books</option>
      <option id="entertainment-film" value="11">Entertainment: Film</option>
      <option id="entertainment-music" value="12">Entertainment: Music</option>
      <option id="entertainment-musical-theatres" value="13">Entertainment: Musicals & Theatres</option>
      <option id="entertainment-television" value="14">Entertainment: Television</option>
      <option id="entertainment-video-games" value="15">Entertainment: Video Games</option>
      <option id="entertainment-board-games" value="16">Entertainment: Board Games</option>
      <option id="science-nature" value="17">Science & Nature</option>
      <option id="science-computers" value="18">Science: Computers</option>
      <option id="science-mathematics" value="19">Science: Mathematics</option>
      <option id="mythology" value="20">Mythology</option>
      <option id="sports" value="21">Sports</option>
      <option id="geography" value="22">Geography</option>
      <option id="history" value="23">History</option>
      <option id="politics" value="24">Politics</option>
      <option id="art" value="25">Art</option>
      <option id="celebrities" value="26">Celebrities</option>
      <option id="animals" value="27">Animals</option>
      <option id="vehicles" value="28">Vehicles</option>
      <option id="entertainment-comics" value="29">Entertainment: Comics</option>
      <option id="entertainment-comics" value="30">Science: Gadgets</option>
      <option id="entertainment-japanese-anime-manga" value="31">Entertainment: Japanese Anime & Manga</option>
      <option id="entertainment-cartoon-animation" value="32">Entertainment: Cartoon & Animations</option>
    </select>
  </div>
  <div class="form-group mb-3">
    <label for="difficulty-select">Select Difficulty</label>
    <select  class="form-control" id="difficulty-select">
      <option id="easy" value="easy">Easy</option>
      <option id="medium" value="medium">Medium</option>
      <option id="hard" value="hard">Hard</option>
    </select>
  </div>
    <div class="form-group mb-3">
    <label for="type-select">Select Type</label>
    <select class="form-control" id="type-select">
      <option id="multiple" value="multiple">Multiple</option>
      <option id="boolean" value="boolean">Boolean</option>

    </select>
  </div>
  <div class="col-auto mt-4">
      <button type="button" class="btn btn-success mb-3 w-25">Generate Questions</button>
      <button type="submit" class="btn btn-primary mb-3 w-25">Create Questions</button>

    </div>
</form>
</div>
