{{> private-navbar}} 

<div class="position-absolute top-50 start-50 translate-middle text-center w-50">
<form id="quiz-form">
  <div class="form-group mb-3">
    <label for="exampleFormControlInput1">Enter quiz Title</label>
    <input type="text" class="form-control" id="quiz-title" placeholder="Quiz Title">
  </div>
  <div class="form-group mb-3">
    <label for="exampleFormControlSelect1">Select a Category</label>
    <select class="form-control" id="category-select">
      <option id="general-knowledge" value="9">General Knowledge</option>
      <option id="entertainment-books" value="10">Entertainment: Books</option>
      <option id="entertainment-film" value="">Entertainment: Film</option>
      <option id="entertainment-music" value="11">Entertainment: Music</option>
      <option id="entertainment-musical-theatres" value="12">Entertainment: Musicals & Theatres</option>
      <option id="entertainment-television" value="13">Entertainment: Television</option>
      <option id="entertainment-video-games" value="14">Entertainment: Video Games</option>
      <option id="entertainment-board-games" value="15">Entertainment: Board Games</option>
      <option id="science-nature" value="16">Science & Nature</option>
      <option id="science-computers" value="17">Science: Computers</option>
      <option id="science-mathematics" value="18">Science: Mathematics</option>
      <option id="mythology" value="19">Mythology</option>
      <option id="sports" value="20">Sports</option>
      <option id="geography" value="21">Geography</option>
      <option id="history" value="22">History</option>
      <option id="politics" value="23">Politics</option>
      <option id="art" value="24">Art</option>
      <option id="celebrities" value="25">Celebrities</option>
      <option id="animals" value="26">Animals</option>
      <option id="vehicles" value="27">Vehicles</option>
      <option id="entertainment-comics" value="28">Entertainment: Comics</option>
      <option id="entertainment-japanese-anime-manga" value="29">Entertainment: Japanese Anime & Manga</option>
      <option id="entertainment-cartoon-animation" value="30">Entertainment: Cartoon & Animations</option>
    </select>
  </div>
  <div class="form-group mb-3">
    <label for="difficulty-select">Select Difficulty</label>
    <select  class="form-control" id="difficulty-select">
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
  </div>
    <div class="form-group mb-3">
    <label for="type-select">Select Type</label>
    <select class="form-control" id="type-select">
      <option>Multiple</option>
      <option>Boolean</option>

    </select>
  </div>
  <div class="col-auto mt-4">
      <button type="submit" class="btn btn-primary mb-3 w-25">Next</button>
    </div>
</form>
</div>



{{!-- <div class="d-flex flex-wrap justify-content-evenly m-5">
{{#each generatedQuizQuestions as |quiz|}}
    {{> api-question-card}}
    {{/each}}
</div> --}}
