{{> private-navbar}}  

<div
  class="position-absolute top-50 start-50 translate-middle text-center w-25"
>
  <form id="questionForm">
    <div class="mb-3">
      <label for="question" class="form-label">Question</label>
      <input type="text" class="form-control" id="question" />
    </div>
    <div class="mb-3">
      <label for="correct-option" class="form-label">Correct Option</label>
      <input type="text" class="form-control" id="correct-option" />
    </div>
    <div class="mb-3">
      <label for="option2" class="form-label">Incorrect Option</label>
      <input type="text" class="form-control" id="option2" />
    </div>
    <div class="mb-3">
      <label for="option3" class="form-label">Incorrect Option</label>
      <input type="text" class="form-control" id="option3" />
    </div>
    <div class="mb-3">
      <label for="option4" class="form-label">Incorrect Option</label>
      <input type="text" class="form-control" id="option4" />
    </div>
    <button type="submit" class="btn btn-primary">Add Question</button>
  </form>
<button type="button" class="btn btn-primary" id="doneCreate">Done</button>
</div>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded me-2" alt="...">
    <strong class="me-auto">Bootstrap</strong>
    <small class="text-muted">11 mins ago</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>