{{> private-navbar}} 

<div class="card" style="width: 18rem;">
  <div class="card-body">
        <h3 class="card-title">Question: </h3>

    <h5 class="card-category">Category: Arts</h5>
    <p class="card-difficulty">Easy</p>
     <h4 class="card-correct-answer">Correct Answer: something.</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Add Question</a>

  </div>
</div>
{{>apiQuestions}}