{{> private-navbar}}  

<div
  class="position-absolute top-50 start-50 translate-middle text-center w-25"
>
  <form id="questionForm">
    <div class="mb-3">
      <label for="question" class="form-label">Question</label>
      <input type="text" class="form-control" id="question" />
    </div>
    <div class="mb-3">
      <label for="correct-option" class="form-label">Correct Option</label>
      <input type="text" class="form-control" id="correct-option" />
    </div>
    <div class="mb-3">
      <label for="option2" class="form-label">Incorrect Option</label>
      <input type="text" class="form-control" id="option2" />
    </div>
    <div class="mb-3">
      <label for="option3" class="form-label">Incorrect Option</label>
      <input type="text" class="form-control" id="option3" />
    </div>
    <div class="mb-3">
      <label for="option4" class="form-label">Incorrect Option</label>
      <input type="text" class="form-control" id="option4" />
    </div>
    <button type="submit" class="btn btn-primary">Add Question</button>
  </form>
<button type="button" class="btn btn-primary" id="doneCreate">Done</button>
</div>