{{> private-navbar}} 
<div class="jumbotron m-3 text-center">
  <h1>Welcome {{username}}!</h1>
  <a class="btn btn-outline-success mt-4 btn-lg" href="/quiz/create">Create your Quiz!</a>
</div>

<div class="d-flex flex-wrap justify-content-center m-2">
  <section class="card-left m-2">
    <h3 class="text-center dashboard-quiz-heading m-4">Quizzes Created by Me!</h3>
    <div class="d-flex flex-wrap justify-content-evenly m-2" >
      {{#each formattedCreatedQuizzes as |quiz| }}
        {{> quiz-dashboard-card}}
      {{/each}}
    </div>
  </section>
  
  <section class="card-left m-2">
    <h3 class="text-center dashboard-quiz-heading m-4">Quizzes Played by me!</h3>
    <div class="d-flex flex-wrap justify-content-evenly m-2">
      {{#each formattedPlayedQuizzes as |quiz| }}
        {{> quiz-recent-card}}
      {{/each}}
    </div>
  </section>
</div>