{{#if isLoggedIn}}  
{{> private-navbar}}  
{{else}}   
{{> public-navbar}}  
{{/if}} 

 <h1>Suggested Categories</h1>

<main class="d-flex flex-wrap justify-content-around m-5">

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Science and Nature</h5>
    <img src="/assets/images/nature.jpg" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Video Game</h5>
    <img src="/assets/images/video-game.jpg" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Computer Science</h5>
    <img src="/assets/images/computer-science.jpg" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Sports</h5>
    <img src="/assets/images/sports.jpg" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">General Knowledge</h5>
    <img src="/assets/images/general-knowledge.jpg" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Mythology</h5>
    <img src="/assets/images/mythology.jpg" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">History</h5>
    <img src="/assets/images/historyQuiz.jpg" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Politics</h5>
    <img src="/assets/images/politics.jpg" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Geography</h5>
    <img src="/assets/images/geography.jpg" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Animals</h5>
    <img src="/assets/images/animals.jp.jpg" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Vehicles</h5>
    <img src="/assets/images/vehicles.jpg" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Art</h5>
    <img src="/assets/images/art.jpg" class="card-img-top" alt="..." />
  </div>

</main>