{{#if isLoggedIn}}  
{{> private-navbar}}  
{{else}}   
{{> public-navbar}}  
{{/if}} 

<main class="d-flex flex-wrap justify-content-around m-5">
  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Science and Nature</h5>
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Video Game</h5>
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Computer Science</h5>
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Sports</h5>
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">General Knowledge</h5>
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Mythology</h5>
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">History</h5>
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Politics</h5>
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Geography</h5>
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Animals</h5>
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Vehicles</h5>
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
  </div>

  <div class="card m-3" style="width: 18rem">
    <h5 class="card-title">Art</h5>
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
  </div>
</main>