{{> private-navbar}} 

<div class="card m-3 p-3 view-quiz" style="width: 18rem" id="{{id}}">
  {{#each questions as |question|}}
    <div>{{question.question}}</div>
    <ul>
      {{#each question.answers as |answer|}}
        <li>{{answer}}</li>
      {{/each}}
    </ul>
  {{/each}}
</div>