:root {
    background-color: rgb(29, 26, 26);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /** get this from google font**/
    font-family: 'Nova Square', cursive;
}

h2 {
    font-size: 2.4rem;
    color: blue;
    margin-bottom: 5rem;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 3px;
}

