body {
  background: rgb(174, 225, 238);
  background: radial-gradient(
    circle,
    rgba(174, 225, 238, 1) 0%,
    rgba(148, 187, 233, 0.4500175070028011) 80%
  );

  margin: 0;
  font-family: “Muli”, -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto,
    “Helvetica Neue”, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”,
    “Segoe UI Symbol”, “Noto Color Emoji”;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.logo {
  padding-top: 15px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 70px;
  width: auto;
}

.navbar .logo {
  padding-top: 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: grey;
}

.card-img-top {
  width: 286px;
  height: 429px;
}

.quiz-card {
  border-radius: 10px;
  box-shadow: 5px, 5px, 15px #bcd1df;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

.quiz-card:hover {
  background: #bcd1df;
  color: white;
  border-radius: 15px;
  border: none;
  box-shadow: 5px 5px 10px #9e9e9e;
}

.categories {
  text-align: center;
  color: grey;
  font-size: 2rem;
}

.card-title {
  text-align: center;
  color: #0894ec;
}

.card-left {
  border: 10px solid hsla(0, 0%, 100%, 0.5);
  background: #fff;
  background-clip: padding-box;
  flex-basis: 45%;
}

.dashboard-quiz-heading {
  font-weight: 600;
}

.quiz-card {
  width: 18rem;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /* background-color: #e9ecef; */
  border-radius: 0.3rem;
}

.quiz-card-body {
  min-height: 150px;
}

.timerContainer {
  right: 20%;
  /* transform: translate(-50%, -50%); */
}

@media only screen and (max-width: 768px) {
  .quiz-card {
    width: 90%;
  }
}
