body {
  background: rgb(174, 225, 238);
  background: radial-gradient(
    circle,
    rgba(174, 225, 238, 1) 0%,
    rgba(148, 187, 233, 0.4500175070028011) 80%
  );

  margin: 0;
  font-family: “Muli”, -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto,
    “Helvetica Neue”, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”,
    “Segoe UI Symbol”, “Noto Color Emoji”;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.logo {
  padding-top: 15px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 70px;
  width: auto;
}

.navbar .logo {
  padding-top: 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: grey;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.categories {
  text-align: center;
  color: grey;
  font-size: 2rem;
}

.card-title {
  text-align: center;
  color: #0894ec;
}

.card-left {
  border: 2px solid black;
  flex-basis: 45%;
}

.quiz-card {
  width: 18rem;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /* background-color: #e9ecef; */
  border-radius: 0.3rem;
}

.quiz-card-body {
  min-height: 150px;
}

@media only screen and (max-width: 768px) {
  .quiz-card {
    width: 90%;
  }
}
